.page-inner.content-center#articles
  = render @articles
- if !final_page? Article
	.show-more
		- next_page = params[:page] ? params[:page].to_i + 1 : 2
		a#showMore.more data-url="#{root_path(page: next_page)}" href='#showMore'
			i
			span Загрузить больше новостей