- unless request.xhr?
  .relative
    - if @advertisement.present?
      .important
        .content-center
          .close
            span
          .caption
            strong
              = @advertisement.name
          p
            = @advertisement.description.html_safe
    - if @slider.present?
      .slider
        ul.rslides
          - @slider.each do |image|
            li
              = image_tag image.attach.url(:content)
#ajax-append
  = render 'articles_with_paginate'