﻿.relative
  .important
    .content-center
      .close
        span
      .caption
        strong Внимание пилоты! Сбор во вторник 11 марта в 21:30-22:00 МСК
      p
        | Будем прикрвать Ju-87 в двух вылетах на Тумане Войны. Всем проверить регистрацию на сервере.
        br
        | Командиры SG2_Wolfert, JG54_DiO, JG54_Graphite. Явка максимальная.
  / slider
  .slider
    ul.rslides
      li
        = image_tag 'slider/s11.jpg'
      li
        = image_tag 'slider/s12.jpg'
      li
        = image_tag 'slider/s13.jpg'
      li
        = image_tag 'slider/s14.jpg'
      li
        = image_tag 'slider/s15.jpg'
      li
        = image_tag 'slider/s16.jpg'
      li
        = image_tag 'slider/s27.jpg'
.slider1
  .slider-inner
    ul#slides
      li
        = image_tag 'slider/s11.jpg'
      li
        = image_tag 'slider/s12.jpg'
      li
        = image_tag 'slider/s13.jpg'
      li
        = image_tag 'slider/s14.jpg'
      li
        = image_tag 'slider/s15.jpg'
      li
        = image_tag 'slider/s16.jpg'
      li
        = image_tag 'slider/s27.jpg'
.page-inner.content-center
  article
    h3 Вылет на авиасибири 4.12.2014
    p Фотоочет: SG2, KG200 на Ju-87, прикрытие сквады =GOVP=,  =IronSky=,  =14/Jg77=. 
    .img-slide
      ul
        li
          = link_to "images/slider/s11.jpg", class: "group1", rel: "group1" do
            = image_tag "images/trash/1.jpg"
        li
          = link_to "images/slider/s12.jpg", class: "group1", rel: "group1" do
            = image_tag "images/trash/1.jpg"
        li
          = link_to "images/slider/s13.jpg", class: "group1", rel: "group1" do
            = image_tag "images/trash/1.jpg"
        li
          = link_to "images/slider/s14.jpg", class: "group1", rel: "group1" do
            = image_tag "images/trash/1.jpg"

    .time-post
      span.light Добавлено:
      time.light datetime='2014-09-17' 17.09.2014
      span.hr1
      span.light Автор
      span SG2_Wolfert
  .hr
  article
    h3 Заголовок новости
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
    .time-post
      span.light Добавлено:
      time.light datetime='2014-09-17' 17.09.2014
      span.hr1
      span.light Автор
      span SG2_Wolfert
  .hr
  article
    h3 Заголовок новости
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
    div
      iframe width='850' height='478' src='http://www.youtube.com/embed/Pq66zJ9k82A?rel=0' rameborder='0' allowfullscreen
    .time-post
      span.light Добавлено:
      time.light datetime='2014-09-17' 17.09.2014
      .hr1
      span.light Автор
      span SG2_Wolfert
  .show-more
    a#showMore href='#' class='more'
      i
      span Загрузить больше новостей