﻿.page-inner.content-center
  h1 Stab/JG54_Graphite
  .time-enter
    Был на сайте Сегодня, 20:25
    span.time-bl.light Дата регистрации: 11 Dec 2012
  .profile-block
    .avatar-block
      form name='' action='/' method='post'
        a href='#'
          = image_tag 'trash/avatar_1.jpg', alt: '', title: ''
        .file-inp.relative
          input type='file'
          a href='#'
            span Изменить аватар
        p.light максимальный размер 200х200
        #deleteAvatar.close title='удалить аватар'
          span
    table
      tr
        th Имя, отчество:
        td Александр Анатольевич
      tr
        th Звание:
        td Major
      tr
        th Дата рождения:
        td 26.01.1987
      tr
        th Страна, город:
        td Украина, Черкассы
      tr
        th Тех. оснащение:
        td Cyborg V.1, Core i5, GT 740
      tr
        th Подпись:
        td путин хуйло
  .hr3
  .profile-edit-block.clearfix
    a href='profile-edit.html' class='btn btn-profile' Редактировать профиль
    a href='#' class='email-pr linkPopup' data-href='changeEmail'
      i
      span Изменить E-mail
    a href='#' class='password-pr linkPopup' data-href='changePassword'
      i
      span Изменить пароль