﻿.page-inner.content-center
  h1 Stab/JG54_Graphite
  .time-enter
    | Был на сайте Сегодня, 20:25
    span.time-bl.light Дата регистрации: 11 Dec 2012
  .profile-block.clearfix
    .avatar-block
      form name='' action='/' method='post'
        a href='profile-edit.html'
          = image_tag 'no_avatar.jpg', alt: '', title: ''
        .file-inp.relative
          input type='file'
          a href='#'
            span Изменить аватар
        p.light максимальный размер 200х200
        #deleteAvatar.close title='удалить аватар'
          span
    .profile-edit
      form name='' action='/' method='post'
        input type='text' name='' value='Александр Анатольевич'
        input type='date' name='' value='26.01.1987'
        input type='text' name='' value='Украина, Черкассы'
        input type='text' name='' value='Cyborg V.1, Core i5, GT 740'
        input type='text' name='' value=''
        input type='submit' value='сохранить изменения'
