﻿.page-inner.content-center
  h1 Школа JG52
  h2.center Содержание
  div.contents.clearfix
    ul
      li
        h3 Ausbildungsstaffel
        ul
          li
            a href='text.html' Введение
      li
        h3 Ausbildungsstaffel
        ul
          li
            a href='text.html' Введение