.page-inner.content-center
  h1
    = @user.nickname
  .time-enter
    | Был на сайте #{@user.last_sign_in_at.formatted}
    span.hr1.hr4
    span.time-bl.light Дата регистрации: #{@user.created_at.formatted}
  .profile-block.clearfix
    = simple_form_for @user, url: update_user_profile_path(@user), method: :put, defaults: { wrapper: false, label: false }, html: { name: 'user_form', id: 'edit_user' } do |form|  
      .avatar-block
        = image_tag @user.avatar.url(:regular), alt: '', title: '', id: 'avatar'
        .file-inp.relative
          = form.input :avatar
          = form.input :delete_image, as: :hidden, input_html: { value: 0 }
          a href='#'
            span Изменить аватар
        p.light максимальный размер 200х200
        #deleteAvatar.close title='удалить аватар'
          span
      .profile-edit
        = form.input :fullname, input_html: { value: @user.fullname, placeholder: 'Имя Отчество' }
        = form.input :birthday, as: :string, input_html: { value: @user.birthday.try(:strftime, '%d.%m.%Y'), placeholder: 'Дата рождения' }
        = form.input :location, input_html: { value: @user.location, placeholder: 'Место проживания' }
        = form.input :hardware, input_html: { value: @user.hardware, placeholder: 'Техническое обеспечение' }
        = form.input :subscription, as: :string, input_html: { value: @user.subscription, placeholder: 'Подпись' }
        = form.submit 'сохранить изменения'