article
  h3
    = article.name
  p
    = article.description.try(:html_safe)
  - if article.content.present?
    = with_slider article
  .time-post
    span.light Добавлено:
    time.light datetime="#{article.created_at.strftime('%Y-%m-%d')}"
      = article.created_at.strftime('%d.%m.%Y')
    - if article.user
      span.hr1
      = link_to user_path(article.user.slug) do
        span
          = article.user.nickname
.hr