#restorePassword.popup
  .popup-inner
    .close.close-popup
      span
    .title восстановить пароль
    = simple_form_for :user, url: password_path(:user), html: { id: 'new_user',  }, method: :post do |f|
      = f.input :email, input_html: { placeholder: 'E-mail' }
      = f.submit 'выслать новый пароль'