.page-inner.content-center
  h1
    = @user.nickname
  .time-enter
    | Был на сайте #{@user.last_sign_in_at.formatted}
    span.hr1.hr4
    span.time-bl.light Дата регистрации: #{@user.created_at.formatted}
  .profile-block
    .avatar-block
      - if user_signed_in? && current_user.id.eql?(@user.id)
        = simple_form_for @user, url: update_user_profile_path(@user), method: :put, defaults: { wrapper: false, label: false }, html: { name: 'user_form', id: 'edit_user' } do |form|
          = image_tag @user.avatar.url(:regular), alt: '', title: '', id: 'avatar'
          .file-inp.relative
            input#remote_check type='hidden' name='remote' value='1'
            = form.input :avatar
            = form.input :delete_image, as: :hidden, input_html: { value: 0 }
            a href='#'
              span Изменить аватар
          p.light максимальный размер 200х200
          #deleteAvatar.close title='удалить аватар'
            span
      - else
        = image_tag @user.avatar.url
    table
      tr
        th Имя, отчество:
        td
          = @user.fullname
      tr
        th Звание:
        td = @user.ranks.map(&:name).try(:join, ', ')
      tr
        th Дата рождения:
        td
          = @user.birthday.try(:strftime, '%d.%m.%Y')
      tr
        th Страна, город:
        td
          = @user.location
      tr
        th Тех. оснащение:
        td
          = @user.hardware
      tr
        th Подпись:
        td
          = @user.subscription
  .hr3
  - if user_signed_in? && current_user.id.eql?(@user.id)
    .profile-edit-block.clearfix
      = link_to 'Редактировать профиль', edit_user_registration_path, class: 'btn btn-profile'
      = link_to '#', 'data-url' => popup_path(:email), 'data-href' => 'changeEmail', class: 'email-pr linkPopup' do
        i
        span Изменить E-mail
      = link_to '#', 'data-url' => popup_path(:password), 'data-href' => 'changePassword', class: 'password-pr linkPopup' do
        i
        span Изменить пароль
#changeEmail.popup
#changePassword.popup