.page-inner.content-center
  h1 
    = "#{@lesson.category.name if @lesson.category} #{@lesson.name}"
  = @lesson.content.html_safe
  - if @lesson.lesson_categories.present?
    h2.center Содержание
    div.contents.clearfix
      ul
        = render @lesson.lesson_categories