| Здравствуйте, #{@order.guild.name}!
br
| Вам поступила новая заявка.
br
| Данные:
br
table border='1'
  tr
    td email
    td = @order.email
  tr
    td Имя
    td = @order.name
  tr
    td Техническое оснащение
    td = @order.hardware
  tr
    td Местоположение
    td = @order.location
  tr
    td Позывной
    td = @order.nickname
  tr
    td Опыт
    td = @order.experience
  tr
    td Контакты
    td = @order.contacts
  tr
    td Владение языками
    td = @order.languages
  tr
    td Возможность летать Вт, Чт, Вс после 21.00 МСК
    td = @order.available_days
  tr
    td Удобное время для собеседования
    td = @order.dialog_time
  tr
    td Дата рождения
    td = @order.birthday.try(:strftime, '%d.%m.%Y')