.hr2{background: transparent;-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#19FFFFFF,endColorstr=#19FFFFFF)"; /* IE8 */    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#19FFFFFF,endColorstr=#19FFFFFF);   /* IE6 & 7 */      zoom: 1;}
.important {background: transparent;-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F262F37,endColorstr=#7F262F37)"; /* IE8 */    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F262F37,endColorstr=#7F262F37);   /* IE6 & 7 */      zoom: 1;}
.important .close:hover {background: transparent;-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000)"; /* IE8 */    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);   /* IE6 & 7 */      zoom: 1;}
.important-open {background: transparent;-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC262F37,endColorstr=#CC262F37)"; /* IE8 */    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC262F37,endColorstr=#CC262F37);   /* IE6 & 7 */      zoom: 1;}