table {border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit}
del,ins {text-decoration:none}
caption,th {text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:baseline}sub{vertical-align:baseline}legend{color:#000}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}input,button,textarea,select{font-size:100%}
header, section, nav, footer, article, aside {
  display:block
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0
}
html {
  background: #fcf1dc;
  color: #24221d;
  font-size:100%;
  height:100%;
}
body {
  font: 17px/1.2 'Open Sans', arial, tahoma, sans-serif;
  height:100%;
  min-width:960px;
}
* {
  outline:none;
}
p {
  margin:0 0 9px
}
a {
  color:black;
  text-decoration:underline;
  -webkit-transition:all 0.2s ease;
  -o-transition:all 0.2s ease;
  -moz-transition:all 0.2s ease;
  transition:all 0.2s ease;
}
a:hover, a:active {
  text-decoration:none;
}
img {
  max-width:100%
}
input[type="submit"], button, .btn {
  background:#24221d;
  border:0;
  color:white;
  cursor:pointer;
  font:17px/56px  'IntroBoldCapsRegular', arial, tahoma, sans-serif;
  height:54px;
  padding:0 15px;
  text-align:center;
  text-transform:uppercase;
  -webkit-transition:all 0.2s ease;
  -o-transition:all 0.2s ease;
  -moz-transition:all 0.2s ease;
  transition:all 0.2s ease;
}
input[type="submit"]:hover, button:hover, .btn:hover {
  background:black
}
a.btn {
  text-decoration:none;
}
.btn-profile, .profile-edit input[type="submit"] {
  display:inline-block;
  vertical-align:middle;
  width:307px
}
.profile-edit input[type="submit"] {
  margin:6px 0 0;
  width:337px
}
input[type="text"], input[type="email"], input[type="password"] {
  background:white;
  border:2px solid #e1d7c2;
  font-size:15px;
  height:36px;
  line-height:36px;
  padding:0 11px;
}
input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder {
  color:#b6b6b6;
  font:15px/33px 'Open Sans', arial, tahoma, sans-serif;
}
input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="password"]::-moz-placeholder {
  color:#b6b6b6;
  font:15px/34px 'Open Sans', arial, tahoma, sans-serif;
}
.file-inp input[type="file"] {
  height:20px;
  left:35px;
  opacity:0;
  position:absolute;
  top:0;
  width:130px;
  z-index:1;
  filter:alpha(opacity=0);
}
body .placeholder {
  color:#b6b6b6;
  font:15px/35px 'Open Sans', arial, tahoma, sans-serif;
}
strong, b {
  font-weight:bold
}
label {
  cursor:pointer
}
h1, h2 {
  font-size:2.05em;
  font-family: 'IntroBoldCapsRegular', arial, tahoma, sans-serif;
}
h3 {
  font-size:22px;
  font-family: 'IntroBoldCapsRegular', arial, tahoma, sans-serif;
}
#wrapper {
  min-height:100%;
  margin:0 0 -136px;
  overflow:hidden;
  width:100%;
}
#content {
  padding:0 0 136px;
}
.container {
  padding:104px 0 41px;
}
.page-inner {
  padding:27px 0 0
}
.content-center {
  width:1000px;
  margin:0 auto;
}
header {
  background:#24221d;
  height:89px;
  left:0;
  padding:15px 0 0;
  position:absolute;
  right:0;
  top:0;
  z-index:11
}
a.logo {
  float:left;
  position:relative;
  text-decoration:none;
  z-index:1
}
.logo img{
  height:59px;
  width:190px;
  -webkit-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  transition:all 0.3s ease;
}
.logo a:hover {
  text-decoration:none;
}
.logo strong {
  display:block;
  color:#fff;
  display:block;
  font:12px/16px 'IntroBoldCapsRegular', arial, tahoma, sans-serif;
  filter:alpha(opacity=10);
  opacity:0.1;
  text-align:center;
}
header.fix {
  height:38px;
  padding-top:7px;
  position:fixed;
  top:0;
  left:0;
  right:0
}
header.fix .logo img{
  height:30px;
  width:97px;
}
header.fix .logo strong{
  display:none
}
header.fix nav{
  padding-top:5px
}
nav {
  float:right;
  margin:0 0 0  -50px;
  padding:27px 0 0;
  position:relative;
  z-index:0;
  -webkit-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  transition:all 0.3s ease;
}
nav li {
  color:white;
  font-size:13px;
  list-style:none
}
nav ul >li {
  display:inline-block;
  margin:0 0 0 35px;
  position:relative;
  vertical-align:top;
  z-index:0
}
nav ul >li.secondary {
  margin-right: -35px;
}
nav ul >li.parent {
  margin-left:23px;
}
nav ul >li.enter-link {
  margin-left:25px;
}
nav ul >li.enter-link .border {
  background:#504e4a;
  display:inline-block;
  height:15px;
  vertical-align:middle;
  width:1px;
}
nav ul >li.enter-link a {
  margin: 0 38px 0 30px;
}
nav ul >li.name-player a {
  overflow:hidden;
  max-width:190px;
  -o-text-overflow: ellipsis;
  -ms-text-overflow:ellipsis;
  text-overflow: ellipsis;
}

nav li a{
  color:white;
  color:rgba(255,255,255,.5);
  display:inline-block;
  padding:3px 0 5px 8px;
  position:relative;
  text-decoration:none;
  text-transform: uppercase;
  z-index:1;
  -webkit-transition:none;
  -o-transition:none;
  -moz-transition:none;
  transition:none;
}

nav li a span{
  background: image-url('classic/icons.png') no-repeat;
  display:inline-block;
  height:3px;
  margin: -1px 0 0 4px;
  vertical-align:middle;
  width:5px;
}
nav li.parent:hover a {
  background:black;
}
nav li a:hover {
  text-decoration:underline
}
nav li.parent a {
  padding-right:10px;
}
nav li.parent a:hover {
  text-decoration:none
}
nav li.parent:hover a span {
  background-position: -5px 0;
}
nav li ul {
  background:black;
  display:none;
  left:0;
  padding:3px 0 0;
  position:absolute;
  right:0;
  top:22px;
  z-index:1
}
nav li ul  li{
  display:block;
  margin:0
}
nav li ul  li a{
  display:block;
  padding:3px 10px 4px 8px;
}
nav li.parent ul  li a:hover{
  background:#1a1a1a
}
nav li:hover ul {
  display:block
}
.time-post {
  font-size:13px;
  padding:7px 0 0
}
.time-post * {
  font-size:13px;
  margin:0 5px 0 0
}
.img-slide {
  margin:3px 0 0;
  overflow:hidden;
  width:100%;
}
.img-slide ul {
  margin: 0 -16px 0 0;
}
.img-slide li{
  display:inline-block;
  margin: 0 11px 13px 0;
  vertical-align:top;
}
/*slider*/
.slider1 {
  overflow:hidden;
  position:relative;
  width:100%;
  z-index:0
}
.slider-inner {
  left:50%;
  margin:0 0 0 -960px;
  position:relative;
  width:1920px;
  z-index:0
}
.slider {
  position:relative;
  z-index:1
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index:1
}
.rslides li {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
.transparent-btns_nav {
  background:none;
  display: block;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  text-indent: -9999px;
  top: 0;
  width: 48%;
  z-index: 3;
}
.transparent-btns_nav.next {
  left: auto;
  right: 0;
}

/*page*/
article {
  font-size:15px;
}
article p{
  color:black;
  margin:4px 0 13px;
  line-height:1.7;
}
.breadcrumbs{
  margin:3px 0 4px;
}
.breadcrumbs a{
  font-size:13px;
  text-transform:uppercase;
  vertical-align:middle;
}
.breadcrumbs a:hover {
  text-decoration:underline;
}
.breadcrumbs span{
  display:inline-block;
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-left: 3px solid #a7a091;
  border-bottom: 3px solid transparent;
  margin:0 8px;
  vertical-align:middle;
}
.contents {
  margin:39px 0 0;
}
.contents li {
  list-style:none
}
.contents >ul >li {
  float:left;
  padding:0 20px;
  width:45%
}
.contents li a{
  font-size:17px;
}
.time-enter {
  font-size:15px;
  margin:6px 0 0;
}
.profile-block {
  margin:21px 0 0;
}
.profile-block table {
  width:770px;
}
.profile-block th{
  width:23.5%
}
.profile-block th, .profile-block td{
  border-top:1px solid #e2d8c6;
  padding:11px 20px 13px 7px
}
.profile-block th{
  color:#6b665c
}
.avatar-block {
  float:right;
  font-size:15px;
  position:relative;
  text-align:center;
  width:200px;
  z-index:0;
}
.avatar-block .close {
  right:3px;
  top:3px;
}
.avatar-block p {
  font-size:13px;
  margin:3px 0 0;
}
.avatar-block a {
  color:#989184;
}
.avatar-block a span{
  color:#24221d;
}
.avatar-block img {
  max-height:200px;
  max-width:200px;
}
.file-inp {
  margin:3px 0 0;
}
.profile-edit-block {
  margin:26px 0 0
}
a.email-pr, a.password-pr {
  margin:0 0 0 60px;
  text-decoration:none;
  vertical-align:middle
}
.email-pr i {
  background: image-url('classic/icons.png') -19px -2px no-repeat;
  display:inline-block;
  height:15px;
  margin:-2px 8px 0 0;
  vertical-align:middle;
  width:20px; 
}
.password-pr i {
  background: image-url('classic/icons.png') -17px -56px no-repeat;
  display:inline-block;
  height:21px;
  margin:-3px 5px 0 0;
  vertical-align:middle;
  width:19px; 
}
.email-pr span, .password-pr span {
  border-bottom:1px dotted;
  display:inline-block;
  font: 17px/1 'IntroBoldCapsRegular', arial, tahoma, sans-serif;
}
.profile-edit {
  width:567px
}
.profile-edit  input[type="text"], .profile-edit  input[type="email"], .profile-edit  input[type="password"], .profile-edit  input[type="date"] {
  font-size:17px;
  margin: 0 0 24px;
  width:100%
}
/*footer*/
footer {
  background:#24221d;
  color:white;
  font-size:15px;
  height:110px;
  padding:26px 0 0
}
footer  a {
  color:white;
  color:rgba(255,255,255,.5);
  text-decoration:none;
}
footer  ul {
  float:right;
  margin:4px 0 0;
}
footer  ul  li{
  float:left;
  list-style:none;
  margin:0 0 0 39px;
}
footer  ul  li a{
  text-decoration:none
}
footer a.logo {
  margin:0 14px 0 0
}
footer a.logo img{
  height:49px;
  width:158px
}
footer .logo strong {
  display:none
}
.footer-left {
  float:left;
  width:550px;
}
.plane {
  color:#fff;
  display:block;
  font-size:13px;
  line-height:1.35;
  margin:-1px 0 0 173px;
  overflow:hidden
} 
.email i {
  background: image-url('classic/icons.png') 0 -3px no-repeat;
  display:inline-block;
  height:14px;
  margin:-3px 5px 0 0;
  vertical-align:middle;
  width:19px;
}
.email, .vk, .channel span {
  vertical-align:middle;
}
footer a:hover {
  text-decoration:none
}
footer a:hover span {
  text-decoration:underline
}
.vk, .channel {
  margin:0 0 0 33px;
}
.vk i {
  background: image-url('classic/icons.png') 0 -72px no-repeat;
  display:inline-block;
  height:18px;
  margin:-4px 8px 0 0;
  vertical-align:middle;
  width:17px;
}
.channel i{
  background: image-url('classic/play.png') no-repeat;
  display:inline-block;
  height:16px;
  margin:-1px 8px 0 0;
  vertical-align:middle;
  width:22px;
}
.hr {
  border-top:1px dotted #a59d8f;
  height:1px;
  margin:19px 0 44px;
  width:100%;
}
.hr1 {
  border-left:1px solid #a59d8f;
  display:inline-block;
  height:15px;
  margin:-3px 5px 0 7px;
  vertical-align:middle;
  width:1px;
}
.hr2 {
  background:#3a3934;
  background:rgba(255,255,255,0.1);
  height:1px;
  margin:8px 0 10px;
  width:100%;
}
.hr3 {
  background:#e2d8c6;
  height:1px;
  width:100%;
}
.hr4 {
  margin-left:15px;
  margin-right:12px;
}
.important {
  background:#262f37;
  background:rgba(38,47,55,0.5) !important;
  color:white;
  left:0;
  opacity:0;
  overflow:hidden;
  position:absolute;
  top:0;
  right:0;
  text-align:center;
  z-index:10;
  -moz-box-shadow:inset 0 0 1px rgba(0,0,0,0.27);
  -webkit-box-shadow:inset 0 0 1px rgba(0,0,0,0.27);
  box-shadow:inset 0 0 1px rgba(0,0,0,0.27);
  filter:alpha(opacity=0);
  -webkit-transition:all 0.8s ease;
  -o-transition:all 0.8s ease;
  -moz-transition:all 0.8s ease;
  transition:all 0.8s ease;
}
.important-open {
  background:rgba(38,47,55,.8);
  bottom:0;
}
.js .important-open {
  bottom:auto
}
.important .content-center {
  padding:11px 0 3px;
  position:relative;
  z-index:1;
}
.close {
  cursor:pointer;
  height:33px;
  position:absolute;
  right:0;
  top:0;
  width:33px;
  z-index:1;
}
.close span {
  background: image-url('classic/icons.png') 0 -17px no-repeat;
  display:block;
  height:14px;
  margin: 9px 0 0 9px;
  width:14px;
  opacity:0.3;
  filter:alpha(opacity=30);
}
.close:hover {
  background:#24221d;
}
.close:hover span{
  background-position:-14px -17px;
}
.important .close {
  height:44px;
  right:0;
  top:0;
  width:62px;
}
.important .close:hover {
  background:none;
}
.important .close span {
  background-position:-28px -18px;
  margin: 15px 0 0 24px;
  opacity:0.5;
  filter:alpha(opacity=50);
}
.important .close:hover span {
  background-position:-28px -18px;
  opacity:1;
  filter:alpha(opacity=100);
}
.important .caption {
  font-size:22px;
  padding:0 0 10px
}
.important p {
  font-size:15px;
  overflow:hidden;
  height:0;
  line-height:1.7em;
  padding-top:8px;
  -webkit-transition:all 0.9s ease;
  -o-transition:all 0.9s ease;
  -moz-transition:all 0.9s ease;
  transition:all 0.9s ease;
}
.js .important p {
  height:auto;
}
.important-open p {
  height:auto
}
.show-more {
  margin:41px 0 0;
  text-align:center
}
.popup a.more {
  text-decoration:none;
}
.more i {
  background: image-url('classic/icons.png') 0 -31px no-repeat;
  display:inline-block;
  height:25px;
  margin:0 9px 0 0;
  vertical-align:middle;
  width:25px;
}
a.more {
  text-decoration:none
}
.more span {
  border-bottom:1px dotted #78756f;
  color:#24221d;
  font-family: 'IntroBoldCapsRegular', arial, tahoma, sans-serif;
  font-size:17px;
  text-transform:uppercase;
  vertical-align:middle
}
.notification {
  bottom:0;
  color:white;
  display:none;
  font-size:25px;
  font-weight:300;
  left:0;
  line-height:1;
  position:fixed;
  right:0;
  text-align:center;
  top:0;
  z-index:1001
}
#noteInner {
  position:relative;
  top:311px;
  z-index:2
}
.notification .caption {
  font:normal 35px/40px 'IntroBoldCapsRegular', arial, tahoma, sans-serif;
  text-transform:uppercase;
}
.popup {
  display:none;
  font-size:15px;
  left:50%;
  margin-left:-300px;
  position:fixed;
  text-align:center;
  width:600px;
  z-index:1001;
  -webkit-box-shadow:0 1px 16px rgba(0,0,0,0.2);
  -moz-box-shadow:0 1px 16px rgba(0,0,0,0.2);
  box-shadow:0 1px 16px rgba(0,0,0,0.2);
}
.popup-inner {
  background:#fcf1dc;
  padding:54px 70px 27px;
  position:relative;
  z-index:0;
}
#registration .popup-inner {
  margin-top: 150px;
  padding-bottom:50px
}
.popup .title{
  font:35px/1 'IntroBoldCapsRegular', arial, tahoma, sans-serif;
}
#start.popup form {
  margin:24px 0 0;
}
.popup form {
  margin:24px 0 0;
}
.popup input[type="submit"]{
  margin:30px auto 0;
  width:307px;
}
#start.popup input[type="submit"]{
  margin-top:20px;
}
.popup input[type="text"], .popup input[type="email"], .popup input[type="password"], .popup input[type="date"]{
  margin:9px auto 0;
  width:416px;
}
#start input[type="text"], #start input[type="email"], #start input[type="password"], #start input[type="date"]{
  margin-top:15px;
}
.restore-password {
  background:#f2debd;
  padding:10px 10px 14px;
  -moz-box-shadow:inset 0 1px 0 rgba(0,0,0,0.1);
  -webkit-box-shadow:inset 0 1px 0 rgba(0,0,0,0.1);
  box-shadow:inset 0 1px 0 rgba(0,0,0,0.1);
}
.popup  a{
  color:inherit;
  text-decoration:underline
}
.close-popup {
  right:16px;
  top:15px;
}
.hide-content {
  background:#000;
  bottom:0;
  display:none;
  filter:alpha(opacity=50);
  left:0;
  opacity:0.5;
  position:fixed;
  right:0;
  top:0;
  z-index:1000;
}
#hideNotification {
  filter:alpha(opacity=70);
  opacity:0.7;
  z-index:1
}
.choice {
  margin:26px 0 0;
  overflow:hidden;
  width:100%
}
.choice ul {
  margin: 0 -30px
}
.choice li{
  display:inline-block;
  vertical-align:top;
  width:32.7%;
}
.choice li img{
  margin: 0 0 7px
}
.choice li label{
  margin:0 10px;
}
.choice li label img{
  opacity:.3;
  filter:alpha(opacity=30);
}
.choice li label:hover img{
  opacity:.7;
  filter:alpha(opacity=70);
}
.choice li label.r_on img, .choice li label.r_on:hover img{
  opacity:1;
  filter:alpha(opacity=100);
}
.choice li label span span{
  border-bottom:1px dotted
}
.link-rules {
  margin:12px 0 6px;
  text-align:center
}
.link-rules li{
  display:inline;
  font-size:15px;
  list-style:none;
  margin:0 20px
}
.label_check {
  display:inline-block;
  margin:14px 0 0
}
.js .label_check i {
  background: white;
  border:2px solid #e1d7c2;
  display:inline-block;
  height:16px;
  margin:0 2px 0 0;
  vertical-align:middle;
  width:16px;
}
.js .label_check span {
  vertical-align:middle;
}
.js label.c_on i{
  background-image: image-url('classic/icons.png');
  background-position:0 -56px
}
.choice li label.r_on span span{
  border-color:transparent;
}
.js .label_check input,
.js .label_radio input  { position: absolute; left: -9999px; }
#popupTsViewer {
  position:fixed;
  height:672px;
  top:0;
  left:100%;
  margin:0 0 0 -31px;
  width:339px;
  z-index:15;
}
#linkTsViewer {
  background:#24221d image-url('classic/TS_viewer.png') 0 bottom no-repeat;
  cursor:pointer;
  float:left;
  height:148px;
  width:31px;
}
#linkTsViewer span{
  display:block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-right: 4px solid white;
  border-bottom: 4px solid transparent;
  margin:15px 0 0 12px
}
#popupTsViewer.open #linkTsViewer span{
  border-left: 4px solid white;
  border-right:0;
}
.popup-ts-viewer {
  background:white;
  border:2px solid #dbd2c3;
  border-right:0;
  float:left;
  height:100%;
  max-height:668px;
  overflow:auto;
  width:304px
}
.clear {
  clear:both;
}
.clearfix {
  display:block;
  zoom:1;
}
.clearfix:after {
  clear:both;
  content:".";
  display:block;
  height:0;
  overflow:hidden;
}
.left {
  float:left
}
.right {
  float:right
}
.hide {
  display:none;
}
.show {
  display:block;
}
.light {
  color:#a59c85
}
.dark {
  color:#24221d
}
.relative {
  position:relative
}
.block {
  display:block
}
.center {
  text-align:center
}
.dropdownspan {
  margin-left: 7px;
}
#flash-notice {
  width: auto;
  background: #fcf1dc;
  padding: 5px 70px 27px;
  position:relative;
  opacity: 0.9;
  z-index:0;
  text-align:center;
  .title{
    font:35px/1 'IntroBoldCapsRegular', arial, tahoma, sans-serif;
  }
}