@font-face {
    font-family: 'IntroBoldCapsRegular';
    src: url(font-path('intro-bold-caps.eot'));
    src: url(font-path('intro-bold-caps.eot')) format('embedded-opentype'),
         url(font-path('intro-bold-caps.woff')) format('woff'),
         url(font-path('intro-bold-caps.ttf')) format('truetype'),
         url(font-path('intro-bold-caps.svg') + '#IntroBoldCapsRegular') format('svg');
}