p
  = "Здравствуйте, #{@resource.email}!"
p Кто-то запросил ссылку для смены вашего пароля. Вы можете сделать это по ссылке ниже.
p
  = link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token)

p Игнорируйте это сообщение, если писали не вы.
p Ваш пароль не будет изменен пока вы не пройдете по ссылке и не измените его.