.popup-inner
  .close.close-popup
    span
  .title Изменить E-mail
  = simple_form_for @user, url: update_user_profile_path(@user), method: :put, \
    defaults: { wrapper: false, label: false }, html: { name: 'user_form', id: 'edit_user' } do |f|
    = f.input :email, input_html: { value: @user.email, placeholder: 'Новый e-mail' }
    = f.submit 'сменить'