.popup-inner
  .close.close-popup
    span
  .title Вход
  = simple_form_for :user, url: session_path(:user), defaults: { label: false, wrapper: false } do |f|
    = f.input :email, input_html: { placeholder: 'E-mail' }
    = f.input :password, input_html: { placeholder: 'Пароль' }
    = f.submit 'Войти'
.restore-password
  = link_to 'Восстановить пароль', new_password_path(:user)