.popup-inner
  .close.close-popup
    span
  .title Заявка на вступление
  = simple_form_for @order, url: order_path, method: :post, remote: true, \
    defaults: { label: false, wrapper: false, as: :string } do |f|
    = f.input :user_id, as: :hidden, input_html: { value: @order.user_id }
    - if @guilds.present?
      .choice
        ul
          - @guilds.for_order.each_with_index do |guild, i|
            li
              label class="label_radio #{'r_on' if guild.id.eql?(@guild.try(:id))}" for="order_guild_id_#{i+1}"
                = radio_button_tag 'order[guild_id]', guild.id, false, { class: 'guild', checked: guild.id.eql?(@guild.try(:id)) }
                span.block
                  = image_tag guild.image.url(:small), alt: guild.name, title: guild.name
                span.block
                  span
                    = guild.name
    - if @guild
      .link-rules
        ul
          li
            = link_to 'Устав', @guild.charter, id: 'charter-link'
          li
            = link_to 'Структура', @guild.structure, id: 'structure-link'
          li
            = link_to 'Орг. приказы', @guild.orders, id: 'orders-link'

    - [[:name, 'Имя Отчество'], [:hardware, 'Техническое оснащение']].delete_if { |f| @guild.present? && !@guild.send("is_#{f[0]}")}.each do |field|
      = f.input field[0], input_html: { placeholder: field[1], required: true, value: current_user.try(:send, field[0]), class: 'order_field' }
    
    = f.input :birthday, input_html: { placeholder: 'Дата рождения', \
      value: current_user.try(:birthday).try(:strftime, '%d.%m.%Y'), class: 'order_field' }
    
    - [[:location, 'Место жительства (страна, город, часовой пояс)'], [:nickname, 'Позывной']].delete_if { |f| @guild.present? && !@guild.send("is_#{f[0]}")}.each do |field|
      = f.input field[0], input_html: { placeholder: field[1], required: true, value: current_user.try(:send, field[0]), class: 'order_field' }

    - [[:experience, 'Срок налета оффлайн/онлайн'], [:contacts, 'Контактная информация'], [:languages, 'Знание иностранных языков'], [:available_days, 'Возможность летать Вт, Чт, Вс после 21.00 МСК'], [:dialog_time, 'Удобное время для собеседования']].delete_if { |f| @guild.present? && !@guild.send("is_#{f[0]}")}.each do |field|
      = f.input field[0], input_html: { placeholder: field[1], required: true, class: 'order_field' }
    div.rules_check
      label for='rules' class='label_check'
        input id='rules' type='checkbox' name='rules' value='1'
        i
        span 
          | &nbsp;
          | С уставом ознакомлен
    - if @guild.present?
      = f.submit 'Отправить', style: 'display: none', id: 'registration_submit'
javascript:
  $('.rules_check').hide();
  initializeMask();