.popup-inner
  .close.close-popup
    span
  .title изменить пароль
  = simple_form_for @user, url: update_user_profile_path(@user), method: :put, defaults: { wrapper: false, label: false } do |form|
    = form.input :password, input_html: { placeholder: 'Пароль' }
    = form.input :password_confirmation, input_html: { placeholder: 'Пароль' }
    = form.submit 'Сменить пароль'