.popup-inner
  .close.close-popup
    span
  .title Регистрация
  = simple_form_for(@user, url: registration_path(@user), defaults: { label: false, wrapper: false, as: :string }) do |f|
    = f.input :email, input_html: { placeholder: 'E-mail', required: true, autofocus: true }
    = f.input :nickname, input_html: { placeholder: 'Позывной', required: true }
    = f.input :password, as: :password, input_html: { placeholder: 'Пароль', required: true }
    = f.input :password_confirmation, as: :password, input_html: { placeholder: 'Еще раз пароль', required: true }
    .show-more
      = link_to '#', id: 'additionalFields', class: 'more'
        span дополнительные поля
    #moreField.hide
      = f.input :name, input_html: { placeholder: 'Имя' }
      = f.input :surname, input_html: { placeholder: 'Фамилия' }
      = f.input :patronymic, input_html: { placeholder: 'Отчество' }
      = f.input :birthday, input_html: { placeholder: 'Дата рождения' }
      = f.input :subscription, input_html: { placeholder: 'Подпись' }
    = f.submit 'Зарегистрироваться'