footer
  .content-center.clearfix
    .footer-left
      a href='index.html' class='logo'
        = image_tag 'logo.png', alt: 'DNF'
        strong DNF
      span.plane
        | Добровольное объединение виртуальных команд-сквадов, летающих в Ил-2. Объединение основано на взаимном невмешательстве и совместных полетах.
      .clear
      .hr2
      - if @links.present?
        - %w(email vk channel).each do |mode|
          - @links.find_by_mode(mode).each do |link|
            - if mode == 'email'
              = mail_to link.url, class: link.mode do
                i
                span
                  = link.title
            - else
              = link_to link.url, class: link.mode do
                i
                span
                  = link.title
    - if @guilds.present?
      ul
        - @guilds.each do |guild|
          li
            = link_to guild.link do
              = image_tag guild.image.url(:small), alt: guild.name, title: guild.name
popups
  #enter.popup
  #restore_password_popup
  #registration.popup
  #start.popup
#hideContent.hide-content
#notification.notification
  #noteInner.content-center
    .caption
      = flash[:notice]
    p
  #hideNotification.hide-content.show
- if flash[:notice]
  javascript:
    $name = 'noteInner';
    $('#hideNotification, #notification').fadeIn();
    positionPopup();
- unless Rails.env.development?
  #popupTsViewer.clearfix
    = render 'layouts/teamspeak_plugin'