header
  .content-center.clearfix
    = link_to '/', class: 'logo' do
      = image_tag 'logo.png', alt: 'DNF'
      strong DIE NEUE FLIEGERDIVISION
    - unless controller.class.name.index('RailsAdmin')
      nav
        ul
          = render partial: 'categories/category', collection: @categories
          li.enter-link
            span.border
            - is_order = current_user.try(:guild).blank? && @groups.where(is_order: true).present?
            - if is_order
              = render partial: 'layouts/remote_link', locals: { name: 'вступить', \
                template: 'order', href: 'start' }
            - if user_signed_in?
              span.border
          - if user_signed_in?
            li
              = link_to current_user.nickname || current_user.name, user_path(current_user)
            li
              = link_to 'Выход', destroy_user_session_path, method: :delete

          - else
            li.enter-link.secondary style="#{'margin-left: -10px;' if is_order}"
              span.border
              = render partial: 'layouts/remote_link', locals: { name: 'Регистрация', \
                template: 'registration', href: 'registration' }
            li
              = render partial: 'layouts/remote_link', locals: { name: 'Вход', template: 'login', \
                href: 'enter' }
