doctype html
html lang='ru'
  head
    meta charset='utf-8'
    - set_meta_tags 'viewport' => 'width=1200'
    = display_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  	= javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    / [if lt IE 9]
    = javascript_include_tag 'html5', 'data-turbolinks-track' => true
    = javascript_include_tag 'http://jqueryvalidation.org/files/dist/jquery.validate.min.js', 'data-turbolinks-track' => true
      = javascript_include_tag 'http://jqueryvalidation.org/files/dist/additional-methods.min.js', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,700,600italic,600,400italic,300italic,300&subset=latin,cyrillic'
    = favicon_link_tag 'favicon.png'
  body
    - if @slider
      javascript:
        slider_speed = #{@slider.first.try(:interval) || 4500}
    #wrapper
      #content
        = render 'layouts/header'
        .container
          = yield
    = render 'layouts/footer'